<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Bancos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Bancos</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-list>
            <ion-item *ngFor="let item of listBanks">
                <ion-label>
                    <h2>{{ item.description }}</h2>
                    <h3>{{ item.bankName }}</h3>
                    <p>{{ item.age }}</p>
                    <p>{{ item.url }}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>